<a href="https://colab.research.google.com/github/igorkokin1995/homeworks/blob/main/%D0%94%D0%97_3_%D0%A4%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%B8_%D0%B2_Pandas_%D0%9A%D0%BE%D0%BA%D0%B8%D0%BD_DAU_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
import pandas as pd

In [ ]:
df_ratings = pd.read_csv('ratings.csv')

In [ ]:
pd.

In [ ]:
df_ratings.head(10)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
5       1     1263     2.0  1260759151
6       1     1287     2.0  1260759187
7       1     1293     2.0  1260759148
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [ ]:
def low_high_rating(rank):
  if rank <= 2:
    return 'низкий рейтинг'
  elif 2 < rank <=4:
    return 'средний рейтинг'
  elif rank in (4.5, 5):
    return 'высокий рейтинг'

In [ ]:
df_ratings['class'] = df_ratings['rating'].apply(low_high_rating)

In [ ]:
df_ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

###Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
Результат классификации запишите в отдельный столбец region.

In [ ]:
df_keywords = pd.read_csv('keywords.csv')

In [ ]:
df_keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
def geoloc(words):
  geo_data = {
  'Центр': ['москва', 'тула', 'ярославль'],
  'Северо-Запад': ['петербург', 'псков', 'мурманск'],
  'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
  }
  for k, v in geo_data.items():
     for city in v: 
      if city in words:
        return city
  else:
    return 'undefined'

In [ ]:
df_keywords['region'] = df_keywords['keyword'].apply(geoloc)

In [ ]:
df_keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114      порно
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

###Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [ ]:
df_movies = pd.read_csv('movies.csv')

In [ ]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
def production_year(film):
  years = list(range(1950,2011))
  for year in years:
    if str(year) in film:
      return int(year)
  else:
    return 1900

In [ ]:
df_movies['year'] = df_movies['title'].apply(production_year)

In [ ]:
df_movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [ ]:
df_movies_rating = pd.merge(df_movies, df_ratings)
df_movies_rating.head()

,movieId,title,genres,year,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,7,3.0,851866703,средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,9,4.0,938629179,средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,13,5.0,1331380058,высокий рейтинг
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,15,2.0,997938310,низкий рейтинг
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,19,3.0,855190091,средний рейтинг

In [ ]:
df_movies_rating.groupby('year').mean().sort_values('rating', ascending = False)['rating'].head()

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
Name: rating, dtype: float64