<a href="https://colab.research.google.com/github/igorkokin1995/homeworks/blob/main/%C2%AB%D0%91%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5_%D0%BF%D0%BE%D0%BD%D1%8F%D1%82%D0%B8%D1%8F_%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8%C2%BB_%D0%9A%D0%BE%D0%BA%D0%B8%D0%BD_DAU_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [ ]:
import pandas as pd

In [ ]:
df_horse = pd.read_csv('horse_data.csv', header = None, na_values = '?')
df_horse.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [ ]:
df_horse.columns = ['surgery?', 'Age', 'Hospital Number', 'rectal temperature',
                    'pulse', 'respiratory rate', 'temperature of extremities',
                    'peripheral pulse', 'mucous membranes', 'capillary refill time',
                    'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube',
                    'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination',
                    'abdomen', 'packed cell volume', 'total protein',
                    'abdominocentesis appearance', 'abdomcentesis total protein',
                    'outcome', 'surgical lesion?', 'type of lesion', 'type of lesion',
                    'type of lesion', 'cp_data']
df_horse.head()

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion,type of lesion,type of lesion,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [ ]:
df_horse_new =df_horse[['surgery?', 'Age', 'rectal temperature', 'pulse',
                       'respiratory rate', 'temperature of extremities',
                       'pain', 'outcome']]
df_horse_new.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

###Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [ ]:
df_horse_new.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

По столбцу Аge значения должны быть 1 или 2, но максимальное значение - 9,
найдем значения вне диапазона

In [ ]:
df_horse_new[(df_horse_new['Age'] > 2)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
212,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

Нормальные показатели пульса от 20 до 40, проверис значения на выбросы в диапазоне от 18 до 42. Такие выбросы, скорее всего, не ошибочны, т.к. лошади больны, а при этом возможно отклонение пульса

In [ ]:
df_horse_new[(df_horse_new['pulse'] < 18) | (df_horse_new['pulse'] > 42)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

Найдем лошадей с пульсом больше 100

In [ ]:
df_horse_new[(df_horse_new['pulse'] > 100)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
19,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
31,2.0,1,37.2,108.0,12.0,3.0,2.0,3.0
35,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
54,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
63,2.0,1,38.2,130.0,16.0,4.0,2.0,3.0
91,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
99,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
168,1.0,1,38.4,104.0,40.0,1.0,2.0,1.0
172,1.0,1,38.5,129.0,48.0,3.0,2.0,1.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
185,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
212,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
222,1.0,1,NaN,112.0,13.0,4.0,2.0,1.0
226,1.0,1,39.2,120.0,20.0,4.0,2.0,2.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
230,1.0,1,38.5,104.0,40.0,3.0,4.0,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
248,1.0,1,38.0,108.0,60.0,2.0,4.0,1.0
252,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
253,2.0,1,NaN,112.0,24.0,3.0,5.0,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
273,1.0,1,37.7,120.0,28.0,3.0,5.0,2.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

Проверим частоту дыхания respiratory rate,
будем считать нормальной значения от 7 до 11

In [ ]:
df_horse_new[(df_horse_new['respiratory rate'] < 7) | (df_horse_new['respiratory rate'] > 11)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

Найдем лошадей с частотой дыхания больше 50

---

In [ ]:
df_horse_new[(df_horse_new['respiratory rate'] > 50)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
11,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
84,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
99,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
120,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
125,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
185,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
186,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
220,1.0,1,39.2,88.0,58.0,4.0,5.0,3.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
248,1.0,1,38.0,108.0,60.0,2.0,4.0,1.0
250,1.0,1,39.3,100.0,51.0,4.0,2.0,3.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
269,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

###Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [ ]:
df_horse_new.isna().sum() #кол-во NaN значений

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [ ]:
df_no_NaN = df_horse_new.copy()

In [ ]:
df_horse_new['surgery?'].value_counts()

1.0    180
2.0    119
Name: surgery?, dtype: int64

Т.к значение 1 в столбце 'surgery?' встречается чаще, логично предположить, что в единственном пропуске должно быть также 1

In [ ]:
df_no_NaN['surgery?'] = df_no_NaN['surgery?'].fillna(df_no_NaN['surgery?'].mode()[0])
df_no_NaN['surgery?'].value_counts()

1.0    181
2.0    119
Name: surgery?, dtype: int64

Значения температуры у лошадей имеют достаточно маленькое стандартное отклонение и не имеют явных выбросов. Можно предположить, что замена пустых значений на моду в данном столбце не приведет к сильному искажению данных

In [ ]:
df_no_NaN['rectal temperature'] = df_no_NaN['rectal temperature'].fillna(df_no_NaN['rectal temperature'].mode()[0])

Пульс и частота дыхания могут зависить от того, была ли у лошади операция или нет

In [ ]:
df_no_NaN['pulse'] = df_no_NaN['pulse'].fillna(df_no_NaN.groupby('surgery?')['pulse'].transform('median'))
df_no_NaN['respiratory rate'] = df_no_NaN['respiratory rate'].fillna(df_no_NaN.groupby('surgery?')['respiratory rate'].transform('median'))
df_no_NaN

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.0,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
df_no_NaN['outcome'].value_counts()

1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

Большинство днанных имеют значение 1. логично предположить, что и единственное пропущенное значение также 1.

In [ ]:
df_no_NaN['outcome'] = df_no_NaN['outcome'].fillna(df_no_NaN['outcome'].mode()[0])

In [ ]:
df_no_NaN['pain'].value_counts()

3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: pain, dtype: int64

Наиболее частое значения для столбца "боль" - 3. Однако в описании данных сказано, что это субьективный параметр. Предсказать такой параметр точно практически невозможно. Данные с пропусками в нем лучше исключить.

Показатель температура конечностей достаточно важен при лечении. Его неверное предсказание может сильно исказить данные.
Предположим, что такие данные лучше исключить.

In [ ]:
df_no_NaN = df_no_NaN.dropna()
df_no_NaN

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,38.0,56.0,24.0,2.0,2.0,1.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
295,1.0,1,38.0,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [ ]:
df_no_NaN.isna().sum() #кол-во NaN значений

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64